@media screen and (max-width:600px){
*{
    width: 100%;
}    
header{
    width:500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.left img{
    width: 400px;
}
.section{
    display: flex;
    flex-direction: column;
}
.about h1,.about p{
    text-align: center;
}
.about .flex{
    padding:0px 0px 0px 150px;
    width: 300px;
    border-right: none;
}

.skills {
    text-align: center;
}
.progress-bar {
    margin-left: 80px;
    width: 300px;
}
.section3 .flex{
    display: flex;
    flex-direction: column;
}
.project .flex{
    width: 450px;
    display: flex;
    flex-direction: column;
}
}